GITLAB_DATA_DIR = /path/to/repositories/@hashed
HASHMAP_DB_FILE = /path/to/sqlite.db

EXCLUDE_PROJECT_PATTERN = ^obsoleted
EXCLUDE_BRANCH_PATTERN  = ^obsoleted

# latest or all or main
DEFAULT_BRANCH_SELECTOR_TYPE = latest
# parallel or sequential
DEFAULT_SEARCH_MANAGER_TYPE  = sequential

# DB_SETTINGS
DB_TABLE_NAME  = kv
DB_INDEX_KEY   = key
DB_VALUE_KEY = value

# CACHE_SETTINGS
CACHE_FILE = /path/to/cache
CACHE_LIFETIME_SECONDS = 10800

# Output style
BASE_URL = https://sample.com/