GITLAB_DATA_DIR = /home/ryngo/server/gitlab/data/git-data/repositories/@hashed
HASHMAP_DB_FILE = /home/ryngo/working/fast_bbbgrep/fast_git_grep/test/sample.db

EXCLUDE_PROJECT_PATTERN = ^obsoleted
EXCLUDE_BRANCH_PATTERN  = ^obsoleted

# latest or all or main
DEFAULT_BRANCH_SELECTOR_TYPE = latest
# parallel or sequential
DEFAULT_SEARCH_MANAGER_TYPE  = parallel